body {
  background: linear-gradient(
    252.6deg,
    rgb(255, 100, 241) 13.2%,
    rgb(67, 220, 255) 81.3%
  );
}

h1 {
  font-size: 60px;
  text-align: center;
  color: purple;
  font-family: "Poppins", sans-serif;
}
